<div id="bracket-box" class="clearfix">

  <% bracket_height = 20 %>
  <% bracket_top_margin_offset = 10 %>
  <% match_top_margin_offset = -2 %>
  <% bracket_width = 148 %>
  <% @matches_in_each_round.each_with_index do |num_matches, index| %>
  <% bracket_height = bracket_height * 2 %>
  <% bracket_top_margin_offset = bracket_top_margin_offset * 2 %>
  <% match_top_margin_offset = match_top_margin_offset + 2 %>
  <div style="height:auto; width:<%= bracket_width %>px; float:left; margin-top:-<%= bracket_top_margin_offset %>px">
    <% num_matches.times do %>
    <% m = @matches.shift %>
    <div style="width:<%= bracket_width %>px; height:<%= bracket_height %>px; position:relative; margin-top:<%= match_top_margin_offset %>px;">
      <div style="position:absolute; bottom:0; left:10px;">
        <span class="badge <%= win_loss_indicator(m[:team1_score], m[:team2_score], m[:team1_name], m[:team2_name]) %>"><%= m[:team1_score] %></span> <%= show_team m[:team1_name], m[:team1_edit_path], @allow_edit %>
      </div>
    </div>
    <div style="width:<%= bracket_width %>px; height:<%= bracket_height %>px; border:1px solid black; border-left:none; position:relative;">
      <div style="position:absolute; bottom:0; left:10px;">
        <span class="badge <%= win_loss_indicator(m[:team2_score], m[:team1_score], m[:team2_name], m[:team1_name]) %>"><%= m[:team2_score] %></span> <%= show_team m[:team2_name], m[:team2_edit_path], @allow_edit %>
      </div>
      <div style="position:absolute; top:2px; right:2px;">
        <% if not m[:match_edit_path].blank? and @allow_edit %>
        <%= link_to "Edit match", m[:match_edit_path], :class => "btn btn-mini btn-primary" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <% bracket_top_margin_offset = bracket_top_margin_offset * 2 %>
  <div style="height:auto; width:<%= bracket_width %>px; float:left; border-bottom:1px solid black; position:relative; top:<%= bracket_top_margin_offset - 20 %>px; padding-left:20px;">
    <% m = @matches.shift %>
    <% if m[:team1_name] != "" %>
    <span class="badge badge-warning"><i class="icon-star icon-white"></i></span> <%= m[:team1_name] %>
    <% elsif m[:team2_name] != "" %>
    <span class="badge badge-warning"><i class="icon-star icon-white"></i></span> <%= m[:team2_name] %>
    <% else %>
    &nbsp;
    <% end %>
  </div>

</div> <!--end bracket-box-->
