<div id="nav-options">
  <%= link_to "Show bracket", bracket_path, :class => "btn btn-primary" %>
</div>

<%= form_for @bracket, :html => {:class => "form-horizontal well"} do |f| %>
<% if @bracket.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@bracket.errors.count, "error") %> prohibited this team from being saved:</h2>

  <ul>
    <% @bracket.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.text_field :name %>
<%= f.submit :class => "btn btn-success", :value => "Update bracket name" %>
<% end %>

<h1> <%= @bracket.name %> </h1>

<%= render 'bracket' %>

<div id="bracket-teams">
  <h2>Teams</h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to "Edit team", edit_bracket_team_path(team), :class => "btn btn-mini btn-primary" %></td>
      </tr>
      <% end %>
    </tr>
  </table>
</div>

<div class="clearfix"></div>
