<%= form_for [@bracket, @match] do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= Team.find_by_id(@match.team1_id).name %>
  </div>
  <div class="field">
    <%= Team.find_by_id(@match.team2_id).name %>
  </div>
  <div class="field">
    <%= f.label :team1_score %><br />
    <%= f.number_field :team1_score %>
  </div>
  <div class="field">
    <%= f.label :team2_score %><br />
    <%= f.number_field :team2_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
