<p id="notice"><%= notice %></p>

<p>
  <b>Team1:</b>
  <%= @match.team1_id %>
</p>

<p>
  <b>Team2:</b>
  <%= @match.team2_id %>
</p>

<p>
  <b>Team1 score:</b>
  <%= @match.team1_score %>
</p>

<p>
  <b>Team2 score:</b>
  <%= @match.team2_score %>
</p>

<p>
  <b>Bracket:</b>
  <%= @match.bracket %>
</p>



